__pycache__/
*.py[cod]
*$py.class

venv/
.env/
.venv/

.env

.DS_Store

.vscode/

.ipynb_checkpoints/

*.log

*.tar

.streamlit/

.pytest_cache/

build/
dist/

*.h5
*.keras

tmp/
temp/

.coverage
htmlcov/